
        /* Estilos personalizados */
        .carousel-item img {
            margin-top: 10px;
            width: auto;
            height: 550px;
            object-fit: cover;
        }        
        
        
        /* Estilos CSS */
        body {
            font-family: Arial, sans-serif;
            margin: 0px;
            padding: 0px;
           
        }
        nav {
            margin-top: 10px;
            color: #fff;
            padding: 5px;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
                   
            
        }

        nav ul li {
            display: inline;
            margin: 40px;
            font-size: 30px;            
        }

        nav ul li a {
            color: #C0C0C0;            
        }

        section {
            margin-top: 20px;
            padding: 50px;
            text-align: center;            
        }

        

 